.container {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.radio-btns {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  width: 25px;
  height: 25px;
  margin: 3px;
}
