<form #userPanelForm="ngForm">
  <div class="menu">
    <label for="search">Search for joke</label>
    <input
      id="search"
      #search="ngModel"
      name="search"
      [(ngModel)]="searchValue"
      type="text"
      class="search"
    />

    <label for="category">Choose category</label>

    <select
      id="category"
      name="category"
      (ngModelChange)="selectCategory($event)"
      #categoryField="ngModel"
      [ngModel]="'empty'"
    >
      <option value="empty">Select category...</option>
      <option *ngFor="let category of categories$ | async" [value]="category">
        {{ category }}
      </option>
    </select>

    <button class="search-btn" (click)="onSearchJoke()">Search</button>
    <button (click)="downloadRandomJoke()">Random joke</button>
  </div>
</form>
