<ng-container [formGroup]="form">
  <div class="joke-text-area">
    <label for="joke">Select joke to edit</label>
    <select id="joke" formControlName="selectedJoke">
      <option value="">Select joke...</option>
      <option *ngFor="let joke of pickedJokesList$ | async" [ngValue]="joke">
        {{ joke.id }}
      </option>
    </select>

    <textarea
      formControlName="editedText"
      id="text"
      name="joke-text"
      rows="5"
      cols="50"
    ></textarea>

    <button (click)="onModify()">Modify</button>
  </div>
</ng-container>
