<div class="joke-text-area">
  <div class="select-joke">
    <label for="joke">Select joke to edit</label>
    <select id="joke" required ngModel (ngModelChange)="onSelectChange($event)">
      <option [ngValue]="null" selected disabled hidden>Select joke...</option>
      <option *ngFor="let joke of pickedJokesList$ | async" [ngValue]="joke">
        {{ joke.id }}
      </option>
    </select>
  </div>

  <compare-texts
    [formControl]="compareTextControl"
    [originalText]="selectedJokeText"
  ></compare-texts>

  <button (click)="onModify()">Modify</button>
</div>
